.resume {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    flex: 1;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    background-color: wheat;
} 

.resume-general-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 10%;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 0.1rem solid black;
}

.resume-general-info > h1 , .resume-general-info > p {
    flex: 1;
    flex: 1;
} 

.resume-education, .resume-work-experience {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
    padding: 0.5rem;
    border-bottom: 0.1rem solid black;
}

.school-grad-split, .position-work-range-split, .company-location-split {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: bold; 
    margin-right: 0.5rem;
}

.value {
    font-weight: 500; 
}