.editing-side {
    display: flex;
    background-color: #deb887;
    flex: 1;
    flex-direction: column;
}

.general, .education, .work-experience {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 1rem;
    background-color: white;
    margin: 0.5rem 0.5rem;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
}

.title {
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.25rem;
}

.edit-resume {
    display: flex;
    flex-direction: column;
    flex: 9;
}

.top {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.top > p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
}

.top > img {
    width: 5%;
    height: auto;
    object-fit: contain;
}

.bottom {
    flex: 4;
}

.general-input, .education-input, .work-input {
    display: flex;
    flex: 4;
}

.left, .right {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.submit-button {
    margin-top: 8%;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #deb887;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #cda776;
    /* Slightly darker shade for hover effect */
}