* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    min-height: 110vh; /* Increase the minimum height to make the page longer */
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.main-app {
    display: flex;
    flex: 3;
    width: 100%;
    height: auto; /* Allow the height to adjust based on content */
    overflow: hidden; /* Prevent scrolling of the entire page */
}

footer {
    display: flex;
    width: 100%;
    background-color:wheat;
    align-items: center;
    justify-content: center;
}

.resume-side {
    display: flex;
    flex: 1;
}
