* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.main-app {
    display: flex;
    flex: 3;
    width: 100%;
}

footer {
    display: flex;
    width: 100%;
    background-color:wheat;
    align-items: center;
    justify-content: center;
}

.resume-side {
    display: flex;
    flex: 1;
}
